* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
  height: 90px;
}

.page-name {
  color: #61dafb;
  margin-left: 5px;
  margin-right: auto;
  font-weight: 600;
  font-size: 22px;
}

.course-name {
  color: #deebf8;
  font-weight: 600;
}

.main-content {
  background-color: #282d35;
  padding: 57px 27px;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 39.06px;
  letter-spacing: -0.05em;
}

.react-facts {
  margin-top: 40px;
  max-width: 400px;
}

.react-facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.react-facts > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}
